[submodule "cDoodahLib"]
	path = cDoodahLib
	url = ../cDoodahLib.git
[submodule "qtDoodahLib"]
	path = qtDoodahLib
	url = ../qtDoodahLib.git
[submodule "qtCanLib"]
	path = qtCanLib
	url = ../qtCanLib.git
[submodule "qtBlokLib"]
	path = qtBlokLib
	url = ../qtBlokLib.git
[submodule "Utilities/netQtCodegen"]
	path = Utilities/netQtCodegen
	url = ../netQtCodegen.git
